body {
  background-color: papayawhip;
}

#gameBox {
  background-image: -webkit-linear-gradient(top, lightblue, rgb(43, 100, 165));
  border: 2px black solid;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 550px;
}

#penguinContainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#penguin {
  margin-left: 150px;
  margin-bottom: -61px;
  width: 250px;
  height: 250px;
}

text {
  font-family: 'Comic Sans MS', cursive;
  font-size: 45px;
  margin-left: 50px;
  margin-top: 10px;
}

#footerContainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#links {
  margin-left: 800px;
  margin-top: 10px;

}